# Idea
./idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
#*.out
#*.app

# Python bytecode
*.pyc
*.pyo   
*.pyd
*.pyw
*.pyz
*.pywz
app/parte_2/__pycache__/utils.cpython-310.pyc

# Vscode workspace
seguranca-computacional-projects-unb.code-workspace
